<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Troqueo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <style>
        .middle-box {
            max-width: 400px;
            z-index: 100;
            margin: 0 auto;
            padding-top: 40px;
        }

        h1 {
            font-size: 100px;
        }

        .font-bold {
            font-weight: 600;
        }

        .text-center {
            text-align: center;
        }

        .animated {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        .fadeInDown {
            -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
        }
    </style>
</head>


<body bgcolor="#f4f4f4">
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">Page Not Found</h3>

        <div class="error-desc">
            <h2>(╯°□°）╯︵ ┻━┻</h2>
            <br>The address required not be found in this server
            <br>Verify the URL and try again
            <br>
        </div>
    </div>
</body>

</html>